<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/index.css"/>
    <title>Index</title>
</head>
<body>
<div class="content">
    <audio controls autoplay>
        <source src="/audios/chang-tui-shu-shu.mp3" type="audio/mpeg">
    </audio>
    <div class="cell">
        <span class="left">
            <hr style="height:60px;width:1px;" />
            <p> 2014-6-15 </p>
            <hr style="height:60px;width:1px;" />
        </span>
        <span class="right">
            <a href="/images/GitHub-Mark-64px.png">
                <img class="cellImage" src="/images/GitHub-Mark-64px.png" alt="GitHub node-front-template">
            </a>
        </span>
    </div>

    <h1>{{title}}</h1>
    <div>
        <input type="button" id="buttonTest" onclick="goTest()" value="Test"/>
    </div>
    <div>
        <a href="https://github.com/greedlab/node-front-template">
            <img src="/images/GitHub-Mark-64px.png" alt="GitHub node-front-template">
        </a>
    </div>
</div>
<script src="/javascripts/index.js"></script>
</body>
</html>