$red: #C21F39;

#buttonTest {
  color: $red;
}

.backgroundMusic {

}

.content {
  max-width: 800px;
  text-align: center;
}

.cell {

}

.left {
  width: 10%;
}

.right {
  width: 80%;
}

.cellImage {
  width: 90%;
  height: auto;
}